<div class="row">
    <div id="ConfigSidebarBox" class="col-md-3" data-ng-include="'views/admin/sidebar.html'"></div>
    <div class="adminConfigSection col-md-9" data-ng-controller="TenantCtrl">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label data-translate>Root domain used for secondary sites</label>
            <div>
              <input class="form-control" data-ng-model="admin.node.rootdomain" type="text" />
            </div>
          </div>
          <div class="form-group">
            <label>
              <input data-ng-model="admin.node.enable_signup" type="checkbox" />
              <span data-translate>Allow users to sign up<span>
            <label>
          </div>
          <div class="form-group">
            <label>
              <input data-ng-model="admin.node.enable_footer_customization" type="checkbox" />
              <span data-translate>Enable footer customization<span>
            <label>
          </div>
          <button class="btn btn-success" data-ng-click="updateNode()">
            <i class="glyphicon glyphicon-ok"></i>
            <span data-translate>Save</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>